.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .footer-logo img {
    width: 100px; /* Adjust the width as needed */
    height: 100px;
  }